body{
    background-color:whitesmoke; 

}
h1{
    color:grey;
    text-align:center
}
div{
    background-color: black; padding:200px; margin:30px; border-radius:18px;
    text-align: center;;
}
p{
    color:aliceblue
}